div {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: aqua;
  animation: ani1 10s;
  margin-top: 23%;
  margin-left: 49%;
}
@keyframes ani1 {
  from {
    width: 10px;
    height: 10px;
    margin-top: 23%;
    margin-left: 49%;
    border-radius: 100%;
  }
  10% {
    background-color: red;
  }

  23% {
    background-color: yellow;
  }

  43% {
    background-color: green;
  }
  60% {
    background-color: blue;
  }

  78% {
    background-color: purple;
  }
  to {
    width: 700px;
    height: 700px;
    border-radius: 100%;
    margin-top: 0%;
    margin-left: 28%;
    background-color: chartreuse;
  }
}
